.app-wrapper {
  .fixed-sider {
    position: fixed;
    left: 0;
    height: 100vh;
    overflow: auto;
  }

  .fixed-right {
    margin-left: 200px;
    transition: all .3s;

    &.collapsed {
      margin-left: 80px;
    }

    .app-layout-header {
      padding: 0 $basePadding * 2;
      background-color: #fff;
    }

    .app-layout-content {
      margin: 24px 16px 24px;
      height: calc(100vh - 64px - 48px - 70px);
      background-color: #fff;
      overflow: initial;
    }

    .app-layout-footer {
      padding: 0 $basePadding * 2;
      background-color: #fff;
    }
  }
}
